<p id="notice"><%= notice %></p>

<h1>Listing Proposals</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.user_id %></td>
        <td><%= proposal.title %></td>
        <td><%= proposal.job_id %></td>
        <td><%= link_to 'Show', proposal %></td>
        <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

